twitter:
  api_base_url: https://stream.twitter.com
  oauth:
    consumer_key: <your_consumer_key>
    consumer_secret: <your_consumer_secret>
    access_token: <your_access_token>
    access_token_secret: <your_access_token_secret>

watson:
  alchemy:
    url: https://gateway-a.watsonplatform.net/calls/text/TextGetCombinedData
    api_key: <your-alchemy-api-key>
  tone_analyzer:
    url: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2016-05-19
    password: <your-password>
    username: <your-username>
  language_classifier:
    url: https://gateway.watsonplatform.net
    password: <your-password>
    username: <your-username>

slack:
  carebot:
    api_token: <your-slack-api-token>
